.elementor-1091 .elementor-element.elementor-element-f4e5a8b>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1091 .elementor-element.elementor-element-f4e5a8b:not(.elementor-motion-effects-element-type-background),
.elementor-1091 .elementor-element.elementor-element-f4e5a8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
   /* background-image:  url("images/img7.jpeg");*/
    background-position: bottom left;
    background-color: #ffffff;
        background-size: cover;
}

.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(4) img {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}

@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

#slider {
    position: relative;
    width: 900px;
    height: 565px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 1000000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
    float: left;
  }
  #slider ul li img{
    width: 1000px;
    height: 565px;
  }
@media(min-width:768px) {
    #slider {
        position: relative;
        width: 900px;
        height: 265px;
        overflow: hidden;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      }
      #slider ul {
        position: relative;
        list-style: none;
        height: 100%;
        width: 1000000%;
        padding: 0;
        margin: 0;
        transition: all 750ms ease;
        left: 0;
      }
      #slider ul li {
        position: relative;
        height: 100%;
        float: left;
      }
      #slider ul li img{
        width: 1000px;
        height: 265px;
      }
}
@media(min-width:1024px) {
    #slider {
        position: relative;
        width: 1220px;
        height: 265px;
        overflow: hidden;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      }
      #slider ul {
        position: relative;
        list-style: none;
        height: 100%;
        width: 1000000%;
        padding: 0;
        margin: 0;
        transition: all 750ms ease;
        left: 0;
      }
      #slider ul li {
        position: relative;
        height: 100%;
        float: left;
      }
      #slider ul li img{
        width: 1220px;
        height: 265px;
      }
}


  
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }
.elementor-1091 .elementor-element.elementor-element-f4e5a8b>.elementor-background-overlay {
    /*background-color: #3e3a3b;
    opacity: 0.44;*/
    
   /* background-image: url('images/img7.jpeg');*/
    background-size: cover;

    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1091 .elementor-element.elementor-element-f4e5a8b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 0px 0px;
}

.elementor-1091 .elementor-element.elementor-element-2c3c3be>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1091 .elementor-element.elementor-element-7878364 {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-7878364 .elementor-heading-title {
    color: #ffffff;
    font-family: "Bitter", Sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 68px;
}

.elementor-1091 .elementor-element.elementor-element-767d7a8 .elementor-text-editor {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-767d7a8 {
    color: #ffffff;
    font-family: "Hind", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.elementor-1091 .elementor-element.elementor-element-767d7a8>.elementor-widget-container {
    margin: 25px 0px 35px 0px;
}

.elementor-1091 .elementor-element.elementor-element-b62177c {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-4290f37>.elementor-container {
    text-align: center;
}

.elementor-1091 .elementor-element.elementor-element-4290f37 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 80px 0px;
    z-index: 2;
}

.elementor-1091 .elementor-element.elementor-element-5cda14d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1091 .elementor-element.elementor-element-5cda14d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1091 .elementor-element.elementor-element-5cda14d {
    z-index: 2;
}

.elementor-1091 .elementor-element.elementor-element-855e4be {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1091 .elementor-element.elementor-element-bbeb582>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1091 .elementor-element.elementor-element-7e1ef08>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1091 .elementor-element.elementor-element-9ca9a84>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1091 .elementor-element.elementor-element-2787774 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1091 .elementor-element.elementor-element-4ef633e>.elementor-background-overlay {
    background-color: #3e3a3b;
    opacity: 0;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1091 .elementor-element.elementor-element-4ef633e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1091 .elementor-element.elementor-element-75534fd>.elementor-element-populated,
.elementor-1091 .elementor-element.elementor-element-75534fd>.elementor-element-populated>.elementor-background-overlay,
.elementor-1091 .elementor-element.elementor-element-75534fd>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1091 .elementor-element.elementor-element-95778f3 .elementor-custom-embed-play i {
    color: #ffffff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.elementor-1091 .elementor-element.elementor-element-95778f3>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 6px 61px 6px rgba(0, 0, 0, 0.1);
}

.elementor-1091 .elementor-element.elementor-element-95778f3:hover .elementor-widget-container {
    background-color: #ff1b54;
    box-shadow: 0px 25px 68px 6px rgba(12, 0, 0, 0.12);
}

.elementor-bc-flex-widget .elementor-1091 .elementor-element.elementor-element-4cea021.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1091 .elementor-element.elementor-element-4cea021.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1091 .elementor-element.elementor-element-4cea021>.elementor-element-populated {
    padding: 0px 15px 0px 50px;
}

.elementor-1091 .elementor-element.elementor-element-db5fbf2 {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-f778225 {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-c28afe9 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.elementor-1091 .elementor-element.elementor-element-46d4713>.elementor-element-populated {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-4bc075e .elementor-heading-title {
    color: #c89454;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.elementor-1091 .elementor-element.elementor-element-4bc075e>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-1091 .elementor-element.elementor-element-a12d578 .elementor-heading-title i {
    font-size: 55px;
}

.elementor-1091 .elementor-element.elementor-element-da169aa>.elementor-element-populated {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-836933a .elementor-heading-title {
    color: #c89454;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.elementor-1091 .elementor-element.elementor-element-836933a>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-1091 .elementor-element.elementor-element-a44071f .elementor-heading-title i {
    font-size: 55px;
}

.elementor-1091 .elementor-element.elementor-element-bd83576>.elementor-element-populated {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-76181d8 .elementor-heading-title {
    color: #c89454;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.elementor-1091 .elementor-element.elementor-element-76181d8>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-1091 .elementor-element.elementor-element-98177e3 .elementor-heading-title i {
    font-size: 55px;
}

.elementor-1091 .elementor-element.elementor-element-0af1563>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1091 .elementor-element.elementor-element-0af1563:not(.elementor-motion-effects-element-type-background),
.elementor-1091 .elementor-element.elementor-element-0af1563>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #3e3a3b;
    background-image: url("../../2018/11/photo-1444069788560-6ae1deb4c0d4.jpg");
    background-size: cover;
}

.elementor-1091 .elementor-element.elementor-element-0af1563>.elementor-background-overlay {
    background-color: #3e3a3b;
    opacity: 0.75;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1091 .elementor-element.elementor-element-0af1563 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-1091 .elementor-element.elementor-element-692f6a4 .elementor-heading-title {
    color: #c89454;
    font-family: "Bitter", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.elementor-1091 .elementor-element.elementor-element-e767994 {
    text-align: right;
}

.elementor-1091 .elementor-element.elementor-element-c8572a0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-1091 .elementor-element.elementor-element-c8572a0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1091 .elementor-element.elementor-element-1a970fc .gallery-item img {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1091 .elementor-element.elementor-element-1a970fc .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-1091 .elementor-element.elementor-element-1a970fc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1091 .elementor-element.elementor-element-ed6ce02 {
    padding: 0px 0px 60px 0px;
}

.elementor-1091 .elementor-element.elementor-element-e2dc842>.elementor-element-populated {
    padding: 10px 28px 10px 10px;
}

.elementor-1091 .elementor-element.elementor-element-35696a1 {
    text-align: left;
}

.elementor-1091 .elementor-element.elementor-element-41187de {
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0px 0px 0px 0px;
}

.elementor-1091 .elementor-element.elementor-element-f52b940 .elementor-icon i {
    color: #c89454;
}

.elementor-1091 .elementor-element.elementor-element-f52b940 .elementor-counter-flex {
    justify-content: left;
}

.elementor-1091 .elementor-element.elementor-element-f52b940 .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Bitter", Sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.elementor-1091 .elementor-element.elementor-element-f52b940 .elementor-counter-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-1091 .elementor-element.elementor-element-f247b27 .elementor-icon i {
    color: #c89454;
}

.elementor-1091 .elementor-element.elementor-element-f247b27 .elementor-counter-flex {
    justify-content: left;
}

.elementor-1091 .elementor-element.elementor-element-f247b27 .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Bitter", Sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.elementor-1091 .elementor-element.elementor-element-f247b27 .elementor-counter-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-1091 .elementor-element.elementor-element-fd2a0c9 .elementor-icon i {
    color: #c89454;
}

.elementor-1091 .elementor-element.elementor-element-fd2a0c9 .elementor-counter-flex {
    justify-content: left;
}

.elementor-1091 .elementor-element.elementor-element-fd2a0c9 .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Bitter", Sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.elementor-1091 .elementor-element.elementor-element-fd2a0c9 .elementor-counter-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-1091 .elementor-element.elementor-element-c148341 .elementor-icon i {
    color: #c89454;
}

.elementor-1091 .elementor-element.elementor-element-c148341 .elementor-counter-flex {
    justify-content: left;
}

.elementor-1091 .elementor-element.elementor-element-c148341 .elementor-counter-number-wrapper {
    color: #333;
    font-family: "Bitter", Sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.elementor-1091 .elementor-element.elementor-element-c148341 .elementor-counter-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media(min-width:768px) {
    .elementor-1091 .elementor-element.elementor-element-612c7a7 {
        width: 68.218%;
    }

    .elementor-1091 .elementor-element.elementor-element-8f2c6e3 {
        width: 31.782%;
    }
}

@media(max-width:1024px) {
    .elementor-1091 .elementor-element.elementor-element-7878364>.elementor-widget-container {
        padding: 0px 30px 0px 30px;
    }

    .elementor-1091 .elementor-element.elementor-element-767d7a8>.elementor-widget-container {
        padding: 0px 30px 0px 30px;
    }

    .elementor-1091 .elementor-element.elementor-element-b62177c>.elementor-widget-container {
        padding: 0px 30px 0px 30px;
    }

    .elementor-1091 .elementor-element.elementor-element-4cea021>.elementor-element-populated {
        padding: 0px 15px 0px 20px;
    }

    .elementor-1091 .elementor-element.elementor-element-46d4713>.elementor-element-populated {
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-da169aa>.elementor-element-populated {
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-bd83576>.elementor-element-populated {
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-41187de {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-f52b940 .elementor-counter-number-wrapper {
        font-size: 31px;
    }

    .elementor-1091 .elementor-element.elementor-element-f247b27 .elementor-counter-number-wrapper {
        font-size: 31px;
    }

    .elementor-1091 .elementor-element.elementor-element-fd2a0c9 .elementor-counter-number-wrapper {
        font-size: 31px;
    }

    .elementor-1091 .elementor-element.elementor-element-c148341 .elementor-counter-number-wrapper {
        font-size: 31px;
    }
}

@media(max-width:767px) {
    .elementor-1091 .elementor-element.elementor-element-f4e5a8b {
        padding: 150px 0px 80px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-7878364 .elementor-heading-title {
        font-size: 37px;
        line-height: 45px;
    }

    .elementor-1091 .elementor-element.elementor-element-7878364>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-767d7a8>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-b62177c>.elementor-widget-container {
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-4290f37 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-2787774 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-4ef633e {
        padding: 50px 0px 0px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-4cea021>.elementor-element-populated {
        padding: 50px 10px 50px 10px;
    }

    .elementor-1091 .elementor-element.elementor-element-db5fbf2 {
        text-align: center;
    }

    .elementor-1091 .elementor-element.elementor-element-567adbe .elementor-text-editor {
        text-align: center;
    }

    .elementor-1091 .elementor-element.elementor-element-f778225 {
        text-align: center;
    }

    .elementor-1091 .elementor-element.elementor-element-c28afe9 {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0px 15px 0px 15px;
    }

    .elementor-1091 .elementor-element.elementor-element-da169aa>.elementor-element-populated {
        margin: 50px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-0af1563 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-692f6a4 {
        text-align: center;
    }

    .elementor-1091 .elementor-element.elementor-element-e767994 {
        text-align: center;
    }

    .elementor-1091 .elementor-element.elementor-element-c8572a0 {
        padding: 50px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-ed6ce02 {
        padding: 0px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-e2dc842>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-1091 .elementor-element.elementor-element-35696a1 {
        text-align: center;
    }

    .elementor-1091 .elementor-element.elementor-element-41187de {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-1091 .elementor-element.elementor-element-f52b940 .elementor-counter-flex {
        justify-content: center;
    }

    .elementor-1091 .elementor-element.elementor-element-f247b27 .elementor-counter-flex {
        justify-content: center;
    }

    .elementor-1091 .elementor-element.elementor-element-fd2a0c9 .elementor-counter-flex {
        justify-content: center;
    }

    .elementor-1091 .elementor-element.elementor-element-c148341 .elementor-counter-flex {
        justify-content: center;
    }
}

@media(min-width:1025px) {
    #elementor-lightbox-95778f3 .elementor-video-container {
        width: 50%;
    }
}